.all-icon{
    background-color: red;
    display: flex;
    flex-direction: row;
}
.ftr-btn{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* 
.flat-row{
    padding: 5px;
}

.flat-carrd{
    height: 40px;
    border: none;

}
.flat-txt{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.ian{
    display: flex;
    justify-content: center;
    align-items: center;
}
.flat-sub-card{
    border: none;
    border-radius: 10px;
    width: auto;
    background-color: rgb(255, 245, 59);
    display: flex;
    justify-content: center;
    align-items: center;
}
.flat-mid-text{
    font-size: 16px;
    color: rgb(255, 255, 255);
    font-weight: 700;
    margin-bottom: 0;
}
.flat-text{
    margin: 0;
    font-size: 10px;
    font-weight: 700;
} */
