
.back{
    height: 105px;
    width: 428px;
    background-color: #007FFF;
    justify-content: left;
}
.back>img{
    margin-top: 50px;
    margin-left: 25px;
}
.verify-img{
    background-color: #007FFF;
    text-align: center;
}
.verify-img>img{
    margin-top: 88px;
    text-align: center;
}
.text-ver{
    margin-top: 35px;
    margin-bottom: 30px;
    height: 32px;
    font-weight: 700;
    font-size: 32px;
    text-align: center;
    color: #FFFFFF;
}
.text-otp{
    font-weight: 700;
    margin-bottom:8px;
    font-size: 16px;
    text-align: center;
    line-height: 16px;
    color: #FFFFFF;
}
.text-otp:has(span) {
    margin-bottom: 40px;
}
.text-otp>span{
    color: #17E9E1;
}
.verify-btn{
    width: 172px;
    height: 50px;
    margin: 20px;
    font-weight: 700;
    font-size: 16px;
    color: #F5FAFA;
    left: 133px;
    top: 719px;
    border: none;
    background: #17224D;
    box-shadow: 5px 5px 10px #DEDEDE;
    border-radius: 10px;
}
.text-snd, .text-tim{
    font-size: 12px;
    line-height: 12px;
    text-align: center;
    color: #17224D;
    margin: 15px;
}
.text-snd>span{
    font-weight: 800;
    color: #007FFF;
}
.text-tim>span{
    font-weight: 800;
    color: #007FFF;
}
.text-tim:has(span) {
    margin-bottom: 110px;
}
.verify-otp{
    text-align: center;
    padding-top:65px;
}
.otps{
    display: inline;
}
.row-wrap{
    margin-bottom: 55px;
}
.otps>input{
    border: 2px solid #17224D;
    border-radius: 15px;
    margin: 12px;
    margin-bottom: 12px;
    height:60px;
    width:60px;
    font-weight: 700;
    font-size: 20px;
    text-align: center;
    color: #007FFF;
}